PORT=Any_free_port
MONGO_URI=your_mongodb_url
NODE_ENV=development/production
CLIENT_URL=http://localhost:5173
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=onboarding@yourdomain.com
EMAIL_FROM_NAME=Textro